body {
  font-family: Arial;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

h1 {
  color: #00ffcc;
}

.service {
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  background: #1a1a1a;
  transition: 0.3s;
}

.service:hover {
  transform: scale(1.05);
  background: #222;
}

a {
  display: block;
  margin: 5px;
  color: #00ffcc;
  text-decoration: none;
}

.btn {
  padding: 10px;
  background: #00ffcc;
  color: black;
  border-radius: 10px;
}
